
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <h2>Taşınan mail adresi: @TempData["Mail"]</h2>
        <label>Kullanıcı ID Değeri</label>
        <input type="text" class="form-control" />
        <label>Mail adresinize gelen 6 haneli kodu giriniz.</label>
        <input type="text" class="form-control" />
    </form>
</div>


